ul {
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: grey;
}

li {
    display: inline;
    
    
}


li a {
    display:inline-block;
    text-align: center;
    padding: 14px 16px;
    
    text-decoration: none;

}